{{ define "index" }}
{{ template "header" . }}
<h1>Welcome!</h1>
<p>
  This is the UIL Computer Science training site for Cypress Ranch High School.
</p>
<h2>FAQ</h2>
<h3>What version of Java is supported?</h3>
<p>The runtime is OpenJDK 17.</p>
<h3>Why are there missing problems?</h3>
<p>Usually, a problem is missing if it is an interactive problem.</p>
<h2>Credits</h2>
<p>
  The Capybara Society logo was derived from two icons that I slightly modified.
</p>
<ul>
  <li><a href="https://game-icons.net/1x1/caro-asercion/capybara.html">Capybara</a></li>
  <li><a href="https://game-icons.net/1x1/delapouite/coffee-cup.html">Coffee Cup</a></li>
</ul>
<p>
  The website design was heavily inspired by the <a href="http://www.usaco.org/">USACO website</a>.
</p>
{{ template "footer" . }}
{{ end }}
